$lt-background-col: #ffffff;
$lt-text-col: #2b2b2b;
$lt-blockquote-border: #b6b6b6;
$lt-navbar-background: #ffffff;
$lt-navbar-border: #2b2b2b;

$dk-background-col: #2b2b2b;
$dk-text-col: #f0f0f0;
$dk-blockquote-border: #949494;
$dk-navbar-background: #2b2b2b;
$dk-navbar-border: #5a5a5a;
